.categoryDivider{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}
@media(max-width:1020px){
    .categoryDivider{flex-direction: column;} 
    
}