@font-face {
    font-family: Sangeet;
    src: url("../fonts/LouisGeorgeCafe.ttf");
  }
  @font-face {
    font-family: Sangeet_Bold;
    src: url("../fonts/LouisGeorgeCafeBold.ttf");
  }
.profile_container{
    position: relative;
    top: -40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    border-radius: 20px;
}
.profile_container .profile_pic{
    height: 80px;
    width: 80px;
    background: transparent;
}
.profile_container .profile_pic .image_container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_container .profile_pic .main_profile{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: grey;
    object-position: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.profile_container .description{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Sangeet,'Times New Roman', Times, serif;
}

.profile_container .description .name,
.profile_container .description .username{
    padding: 2px 20px;
}
.profile_container .description .username{
    color: #5E77FB;
}
.profile_container .description .name{
    font-family: Sangeet;
    font-weight: 800;
}