@font-face {
    font-family: Sangeet;
    src: url("../fonts/LouisGeorgeCafe.ttf");
}
.item_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 2px;
}
.item_container .disIcon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.item_container .disIcon img{
    position: absolute;
    height: 18px;
    width: 18px;
    object-fit:scale-down;
}
.item_container .itemName{
    font-family: 'Sangeet';
    font-size: 16px;
}