@media(max-width:1020px){
    .categoryDivider{
        height: auto;
        flex-direction: column;
    } 
    .popularContainer{
        height: 300px;
        width: 100%;
    }    
    .albumContainer{
        height: 300px;
        width: 100%;
    }
    .CardBody{min-width: 150px;}
    .CardBody .CardImageHolder{height: 150px;}
    .bottom_container{height: 65px;}
    .left_sidebar {width: 190px;}
}
@media(max-width:820px){
    .left_sidebar{display: none;}
    .right_content{width: 100%;}
}
@media(max-width:716px){
    .content_container{
        height: calc(100vh - 190px);
    }
    .runningSongProfile{display: none;}
    .bottom_container{height: auto;}
    .runningSongContainer .description .authorName{display: none;}
    .runningSongContainer .description{margin: 20px;}
    .runningSongContainer{
        width: 100%;
        flex-direction: column;}
    .SongControlContainer{
        width: 100%;
        flex-direction: column-reverse;}
    .SongControlContainer .playButton{margin: 10px;}
    .bottomControl{
        position: relative;
        flex-direction: column;
    }
    .likeRepeatContainer{display: none;}
    .mainContentContainer{padding: 0;}
}
@media(max-width:525px){
    .itemContainer {min-height: 60px;}
    .content_container {height: calc(100vh - 160px);}
    .allSongContainer {margin: 0;}
    .allSongContainer .allSongList{padding: 0;}
}
