
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 20px;
  background: transparent;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}
code {
  font-family:Sangeet,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
